@font-face {
  font-family: "Rubik";
  src: url("/fonts/rubik_wght.ttf");
}

:root {
  --link: goldenrod;
  --link-active: gold;
  --border: #3f3f3f;
}

html {
  background-color: #1f1f1f;
  font-family: "Rubik", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 62.5%;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem 1.2rem;
}

header a {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

header .icon {
  height: 2rem;
  width: 2rem;
}

header .nav-list a:hover,
header .nav-list a:focus {
  color: gold;
  box-shadow: 0 2px 0 0 gold;
  outline: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li:not(:last-of-type) {
  margin-right: calc(2vw + 1rem);
}

.logo {
  height: 4rem;
  width: 4rem;
  flex-shrink: 1;
  transition: all 0.4s ease-in-out;
  background: transparent;
  appearance: none;
  border: none;
  cursor: pointer;
}

.logo:focus {
  outline: none;
}

.logo:hover,
.logo.focus-visible {
  filter: hue-rotate(180deg);
}

@media (max-width: 30em) {
  .logo svg {
    width: 100%;
    height: auto;
  }
}

.logo .left {
  fill: var(--logo-left);
}

.logo .right {
  fill: var(--logo-right);
}

.logo .bottom {
  fill: var(--logo-bottom);
}

h2 {
  font-size: 2.4rem;
}

.error {
  color: #856404;
  background-color: #fff3cd;
  padding: 2rem;
  margin: 0;
}

.hidden {
  display: none;
}

main {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
